/* container for video controls */
.controls {
  /* color:white; */
  position:absolute;
  top:auto;
  left:0;
  bottom:0rem;
  right:0;
  padding:0.5rem;
  margin:0;
  background-color:rgba(0, 0, 0, 0.5);
  background:transparent;
  /* color:white; */
  /* padding:0; */
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  justify-content:space-between;
  align-items:start;
}
.controls > * {
  /* float:left; */
  /* display:inline-block; */
  /* text-align:center; */
  flex:1;
  /* flex-wrap:nowrap; */
  /* padding:0.5rem; */
  /* margin:0.5rem; */
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.controls .ctrl_fx {flex:4;}
.controls fieldset {
  color:black;
  border-color:transparent;
  background:rgba(255,255,255,0.75);
  box-shadow:0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
}
.controls legend {
  /* color:rgb(51,51,51); */
  background:rgb(255,255,255);
  box-shadow:0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.ctrl_fx table label {
  width:100%;
  /* text-align:right; */
}
.ctrl_fx table label span {
  /* max-width:6rem; */
  /* width:40%; */
  /* min-width:3rem; */
  /* display:inline-block; */
}
.ctrl_fx table input, .ctrl_fx table select {
  /* width:60%; */
  /* min-width:4rem; */
  text-align:left;
  display:inline-block;
}
#table-chroma input {
  /* background-color:red; */
  color:white !important;
}
#table-chroma label:before {
  font-weight:900;
  margin:0 0 0 0.5rem;
}
#table-chroma .red input {
  /* background-color:#f00; */
}
#table-chroma .red:before {
  /* content:'R'; *//* color:#f00; */
}
#table-chroma .green input {
  /* background-color:#0f0; */
}
#table-chroma .green:before {
  /* content:'G'; *//* color:#0f0; */
}
#table-chroma .blue input {
  /* background-color:#00f; */
}
#table-chroma .blue:before {
  /* content:'B'; *//* color:#00f; */
}
