.ctrls fieldset {
  color:black;
  border-color:transparent;
  background-color:rgba(0,0,0,0.75);
  box-shadow:0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
}
.ctrls legend {
  color:rgb(255,255,255);
  background-color:rgba(0,0,0,0);
  /* box-shadow:0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.5); */
}

.ctrl_fx .ctrl_group label {
  width:100%;
  background-color:rgb(204,204,204);
}
.ctrl_fx .ctrl_group label span {}
.ctrl_fx .ctrl_group input, .ctrl_fx .ctrl_group select {
  text-align:left;
  display:inline-block;
}
#ctrl_fx .ctrl_group input {}
#ctrl_fx .ctrl_group input[type=range] {
  display: block;
  min-width:255px;
  width:100%;
}
#ctrl_fx .ctrl_group input[type=number] {max-width:4rem; color: white;}
#ctrl_fx .ctrl_group .rgb input[type=text] {max-width:3rem;}
#ctrl_fx .ctrl_group input {}
#ctrl_fx .ctrl_group label span:before {font-weight:900;}
#ctrl_fx .ctrl_group .red label span:before {content:'R ';}
#ctrl_fx .ctrl_group .green label span:before {content:'G ';}
#ctrl_fx .ctrl_group .blue label span:before {content:'B ';}

#ctrl_fx .ctrl_group .rgb label span {display: none;}

label span .value {
  padding:0.25em 0.5rem;
  color:white;
  line-height:1.4;
  vertical-align:middle;
  border-radius:1rem;
}

/* .green:before, .blue:before, .rgb:before {
  content:"+";
  color:white;
  margin:0.25em 0.125rem;
  float:left;
  font-size: 2rem;
} */
/* .rgb:before {content:"=";} */
