/* container for webcam video and canvas */
.photobooth {
  background:white;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:black url('../img/starrynight.jpg') center center no-repeat;
  background:black url('../img/tvstatic-diagonal.gif') center center no-repeat;
  background-size:cover;
}

/*clearfix*/
.photobooth:after {
  z-index:1;
  content:'';
  display:block;
  clear:both;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:transparent;
  /* background:transparent url('../img/tvstatic-snow.gif') center center no-repeat; */
  /* background-size:cover; */
  opacity:0.25;
}

canvas {
  z-index:2;
  width:100%;
  height:100%;
  background:transparent;
}

.video {
  z-index:3;
  background:white;
  box-shadow:0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.5);
  padding:0.125em;
  position:absolute;
  top:2rem;
  right:2rem;
  width:200px;
}

/* container for video controls */
.ctrls {
  position:absolute;
  top:auto;
  left:0;
  bottom:0rem;
  right:0;
  padding:0.5rem;
  margin:0;
  background-color:rgba(0, 0, 0, 0.5);
  background:transparent;
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  justify-content:space-between;
  align-items:start;
}
.ctrls > * {
  flex:auto;
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.ctrls .ctrl_fx {flex:4;}

/* photobooth picture strip */
.strip {
  width:200px;
  height:100%;
  margin:0;
  padding:1rem 10px;
  background-color:rgba(0, 0, 0, 0.5);
  background-color:transparent;
  position:absolute;
  overflow:auto;
  overflow-x:hidden;
  overflow-y:auto;
  top:0;
  left:1rem;
  bottom:0;
  right:auto;
  flex-wrap:nowrap;
  flex-direction:column;
  justify-content:start;
  align-items:start;
}
.strip a {
  /* width:100%; */
  margin:0;
}
.strip a img {
  width:100%;
  background:white;
  padding:0.125em;
  box-shadow:0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
}

/*.strip :nth-child(5n+1) img {transform:rotate(4deg);}*/
/*.strip :nth-child(5n+2) img {transform:rotate(-2deg);}*/
/*.strip :nth-child(5n+3) img {transform:rotate(1deg);}*/
/*.strip :nth-child(5n+4) img {transform:rotate(-3deg);}*/
/*.strip :nth-child(5n+5) img {transform:rotate(2deg);}*/

