
/* small mobile */
@media screen and (max-width: 599px) {
  #table-chroma input[type="number"] {display: block;}
  #table-chroma input[type="range"] {display: none;}
  #table-chroma tr {display: inline-block;}
  #table-chroma td {display: block;}
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  #table-chroma input[type="number"] {display: block;}
  #table-chroma input[type="range"] {display: none;}
}

/* tablet & notebook */
@media screen and (min-width: 900px) and (max-width: 1199px) {
  #table-chroma input[type="number"] {display: none;}
  #table-chroma input[type="range"] {display: block;}
  #table-chroma tr {display: inline-block;}
  #table-chroma td {display: block;}
}

/* laptop & desktop */
@media screen and (min-width: 1200px) {
  #table-chroma input[type="number"] {display: none;}
  #table-chroma input[type="range"] {display: block;}
}
