*,
*:before,
*:after {
  box-sizing:border-box;
  padding:0;
  margin:0;
}

html {
  font-size:100%;
  font-family:sans-serif;
  overflow:hidden;
}

body {
  font-size:1rem;
  color:black;
  background:white;
  padding:0;
  margin:0;
  overflow:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {}
/* code {background-color:white; color:#003; padding:0.25rem 0.5rem; margin:0 0.25rem; font-weight:900;} */

code {font-size: 1.5em;}

table {
  width:100%;
  /* border-collapse:separate; */
  border-collapse:collapse;
  border-width:3px;
}

legend,
label,
input,
button,
select,
td {
  font-size:0.9rem;
  overflow: hidden;
  /* color:black; */
  /* width:auto; */
}
fieldset,
legend,
label,
input,
button,
select, 
.alert, .alert.default {
  display:inline-block;
  line-height:1.25;
  padding:0.25rem 0.5rem;
  white-space:nowrap;
  background:white;
  border-radius:0.25rem;
}
td {margin:0 0.25rem 0.25rem 0;}
fieldset,
label,
input,
button,
select, 
.alert, .alert.default {
  border:2px solid #ccc;
}
fieldset {
  /* border:none; */
  padding:0.5rem;
  margin:0.125em;
}
legend {font-weight:900;margin-bottom:0.25rem;line-height:1;}
/* td > legend,
td > label,
td > input,
td > button,
td > select,
fieldset {border:none;} */
label,
input,
button,
select {
  border-color:rgba(255,255,255,0.75) rgba(102,102,102,0.75) rgba(51,51,51,0.75) rgba(204,204,204,0.75);
  /* border-color:yellow limegreen cyan magenta; */
  /* width:100%; */
  /* width:auto; */
  /* display:inline-block; */
}
input,
button,
select {font-size: 1.2em;}
button+button,
button+input,
input+button,
input+input,
label+label,
label+input,
input+label,
label+button,
button+label,
td > button {margin-top:0.25rem;}
label {
  /* width:40%; */
  /* color:white; */
  /* text-align:right; */
  padding-left:0;
}
button {
  width:100%;
  /* padding:0.5rem; */
  /* margin:0 0 0.25rem 0; */
}

input[type=text], 
input[type=number], 
input[type=date], 
input[type=time], 
input[type=datetime], 
input[type=email], 
input[type=password], 
input[type=tel], 
input[type=url], 
input[type=color], 
input[type=search] {margin:0 0.25rem 0 0.5rem;
  border-color:
  rgba(51,51,51,0.75) 
  rgba(102,102,102,0.75) 
  rgba(204,204,204,0.75)
  rgba(153,153,153,0.75) 
  ;
  background-color: #eee;
}

input[type=checkbox],
input[type=radio] {margin:0 0.25rem 0 0.5rem;}

label input[type=range] {}
label span+input[type=range] {float:none;display: block;}
input[type=range] {min-width:255px;}

label span, label span {padding: 0.5rem;}

/* Z-INDICES FOR LAYERING */
header {z-index:1;display:none;}
main {z-index:2;}
.photobooth {z-index:10;}
.strip {z-index:20;}
.controls {z-index:30;}

/* misc classes */
.status, .status.default {background-color:#eee;}
.status.success {background-color:mediumseagreen;color:white;font-weight:900;}
.status.error {background-color:crimson;color:white;font-weight:900;}
.status.warn {background-color:coral;}
.status.info {background-color:powderblue;}

.disabled {opacity:0.5;}

.alert, .alert.default {
  width:100%;
  /* min-height:72.5%; */
  background-color:#eee;
  text-align:center; vertical-align:middle; width:100%; 
  padding:0.25rem 0.5rem;
  line-height:1.25;
  display:block;
}
.alert.success {background-color:#6dce98; border-color:mediumseagreen;}
.alert.error {background-color:#f4b8c4; border-color:crimson;}
.alert.warn {background-color:#ffd8ca; border-color:coral;}
.alert.info {background-color:#dff2f5; border-color:powderblue;}
.msg, 
.alert > * {flex:1;margin:0; padding:1rem;}

.hide {display:none;}
