body {background-color:rgba(255, 0, 0, 0.5);}
.strip {background-color:rgba(0, 255, 0, 0.5);}
.ctrls {background-color:rgba(0, 0, 255, 0.5);}
.photobooth {background-color:rgba(255, 255, 0, 0.5);}
.canvas {background-color:rgba(255, 0, 255, 0.5);}
.video {background-color:rgba(0, 255, 255, 0.5);}
