*, *:before, *:after {padding:0; margin:0;}

html {
  background-color:#808080;
}

html, body {
  font-family:"Andale Mono", "Lucida Console", Monaco, monospace;
  /*font-size:1em;*/
  font-size:100%;
  line-height: 1;
  min-height:100vh;
  text-align:center;
}

p {margin: 1em 0;}

ul, ol, dl {list-style-type:none;}
li, dt, dd {text-align:left;}

a, a:link, a:hover, a:visited, a:active {text-decoration: none; border-bottom: 2px solid #000;}

.wrapper {
  min-height:100vh;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  align-content:center;
  align-items:center;
  justify-content:center;
}

.bttf .time-circuits {
  background-image: url('brushed-steel.jpg');
  background-position: center;
  background-size:cover;
}

.module {
  box-shadow: 
    0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25),
    0 0 0.75rem 0 rgba(0, 0, 0, 0.125);
  margin: 1rem 0 0;
  padding:0.25rem;
}

.clock {
  padding:0.5rem 0 0;
  margin:0.5rem 0 0;
  font-size:2rem;
  white-space:normal;
  background-color:#111;
  color:rgb(204,204,204);
  border:0.5rem inset #333;
}

ul.clock {padding:1rem;}

.clock-now .display, .module strong {color:rgb(204,51,51);}
.clock-then .display, .module em {color:rgb(51,153,51);}
.clock-delta .display, .module .hi, .count:before, .count:after {color:rgb(51,153,204);}

form, fieldset, legend, label, input, button, textarea, select, option {
  font-family:"Andale Mono", "Lucida Console", Monaco, monospace;
  text-align:center;
  /*display:inline-block;*/
  /*width: auto;*/
  padding:0;
  margin:0;
  border:none;
  color:#333;
}

fieldset {
  position: relative;
}
legend, label {
  font-size: 1.5rem;
  font-weight:900;
  width: 100%;
  margin: 0.25em auto -0.5rem;
  padding: 0.5em 0;
}
.module, legend, label {
  color:rgb(102,102,102);
  background-color:rgb(204,204,204);
}
legend {
  padding: 0.75em 0.25rem 0.25em;
  /* margin-bottom: -1rem; */
}
input, button, textarea, select {
  min-height: 3rem;
}

fieldset, label, input, button, textarea, select {/*display:inline-block;*/}

label {
  text-align: left;
  text-indent: 0.5rem;
  /* padding:0.25rem 0.25rem 0; */
  /* margin:0.25rem 0.25rem 0; */
}
fieldset label {display: block;}
label input:first-of-type, 
label button:first-of-type, 
label textarea:first-of-type, 
label select:first-of-type {}

.timezone {
  width: 8rem;
  background:none; border:none;
  padding:0;
  margin:0;
}

span.timezone {float:right; padding: 0.75rem 1rem 0; width:auto;}

.time, .count {
  display:inline;
}
.count, li.count, td.count {
  display:table-cell;
}

.time:before, .time:after, 
.count:before, .count:after {/* color:#808080; */}

.count:before, .count:after, th {
  font-size:0.6em;
  padding-right:1em;
  vertical-align:baseline;
  /* line-height:1; */
}
.count:first-of-type:before, .count:last-of-type:after {padding:0;}

.time-yrs:after, .time-mon:after {content:"-";}
.time-day:after, .time-dat:after {content:"\a";white-space:pre;}
.time-hrs:before {content:"T";}
.time-min:before, .time-sec:before {content:":";}

.count-yrs:after/*, .delta-yrs:after*/ {content:"Years";}
.count-mon:after/*, .delta-mon:after*/ {content:"Months";}
.count-day:after/*, .delta-day:after*/ {content:"Days";}
.count-hrs:after/*, .delta-hrs:after*/ {content:"Hours";}
.count-min:after/*, .delta-min:after*/ {content:"Minutes";}
.count-sec:after/*, .delta-sec:after*/ {content:"Seconds";}

.future, .past {
  border:none;
  display: none;
}
strong, em, .hi {
  text-decoration: none;
  font-variant: normal;
  font-style: normal;
  font-weight: 900;
  display: inline;
}
.hi {/* display: inline; */}
