/*grid.css*/

table, tbody, tr, th, td {}
.grid {}
.grid {
  border-collapse:separate;
  border-collapse:collapse;
  /*border:1px solid #ccc;*/
  background-color:rgb(51,51,51);
}

.grid th, .grid td{
  /*border:2px solid rgba(255,255,255,0.125);*/
  /*border-collapse:collapse;*/
  border:none;
  padding: 1rem;
  margin:0;
  text-align: center;
  background-color:rgba(0,0,0,0.25);
}

.grid th {
  color:rgba(255,255,255,0.5);
}

/* odd rows */
.grid tr:nth-of-type(odd) {
  background-color:rgba(0,0,0,0.25);
}

/* odd column -- THs */
.grid tr th:nth-of-type(odd) {
  background-color:rgba(0,0,0,0);
}

/* odd column -- TDs */
.grid tr td:nth-of-type(odd) {
  background-color:rgba(0,0,0,0.5);
}
