*, *:before, *:after {
  box-sizing:border-box;
  padding:0;
  margin:0;
}

html {
  font-size:100%;
  font-family:sans-serif;
}

body {
  font-size:1rem;
  background-color:rgb(255, 0, 255);
  /* background:black; */
  padding:0;
  margin:0;
}

table {border-collapse: collapse;}
fieldset {border:none;}

/* Z-INDICES FOR LAYERING */
.controls {z-index:3;}
.photobooth {z-index:1;}
.strip {z-index:2;}

/* container for webcam video and canvas */
.photobooth {
  background:white;
  background-color:rgba(255, 255, 0, 0.5);

  /* max-width:auto; */
  /* width:auto; */

  /* max-height:100vh; */
  /* height:100%; */

  /* box-shadow:0 0 1rem 0 rgba(0, 0, 0, 0.25); */
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

/*clearfix*/
.photobooth:after {
  content:'';
  display:block;
  clear:both;
}

.canvas {
  width:100%;
  height:auto;
  background:transparent;
  background-color:rgba(0, 255, 0, 0.5);
}

.video {
  background:black;
  background:white;
  padding:5px;
  position:absolute;
  top:2rem;
  right:2rem;
  width:200px;
  box-shadow:0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.5);
}

/* misc classes */
.status {background-color:palegoldenrod;}
.status.success {background-color:mediumseagreen;color:white;font-weight:900;}
.status.error {background-color:crimson;color:white;font-weight:900;}
.status.warn {background-color:coral;}
.status.info {background-color:powderblue;}
